/* Variables, reset, estilos base */
:root {
    --color-001: #2C6975;
    --color-002: #4A8E7C;
    --color-003: #CDE0C9;
    --color-004: #E0ECDE;
    --color-005: #FFFFFF;
    --color-006: #2D3748;
    --color-007: #718096;
    --color-008: #1A202C;
    --color-009: #255b67;
}

/* Reset mínimo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: var(--color-008);
}

body {
    background-color: var(--color-005);
    color: var(--color-006);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}