/* Sistema de colores numerados */
:root {
    --color-001: #2C6975;
    --color-002: #5A9B8A;
    --color-003: #CDE0C9;
    --color-004: #E0ECDE;
    --color-005: #FFFFFF;
    --color-006: #333333;
    --color-007: #AAAAAA;
    --color-008: #000000;
}

/* Reset mínimo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bold', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000000;
}
body {
    background-color: var(--color-005);
    color: var(--color-008);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

