{% extends "menu.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/utils/auth.css') }}">
{% endblock %}

{% block title %}login{% endblock %}

{% block content %}

<!-- ========== LOGIN PAGE PRINCIPAL ========== -->
<div class="auth-page">
    <div class="auth-container">

        <!-- ========== CONTENIDO IZQUIERDO: Info ========== -->
        <div class="auth-left">
            <div class="home-content">
                <h1 class="home-title">
                    Traducción de Lenguaje de Señas a Texto en Tiempo Real
                </h1>

                <p class="home-text">
                    "Transformamos la comunicación en inclusión: nuestro software traduce palabras en señas, rompiendo
                    barreras y uniendo mundos con cada gesto."
                </p>

                <div class="home-actions">
                    <a href="#" class="btn btn--primary">Saber más</a>
                </div>
            </div>
        </div>

        <!-- ========== CONTENIDO DERECHO: Formulario ========== -->
        <div class="auth-right">
            <form method="POST" action="{{ url_for('auth.login') }}" class="auth-form">

                <h2 class="auth-title">Iniciar sesión</h2>

                <div class="auth-icon-group">
                    <img src="{{ url_for('static', filename='img/icon/user.svg') }}" alt="" class="auth-icon">
                    <input type="email" name="correo" placeholder="Email" required>
                </div>

                <div class="auth-icon-group">
                    <img src="{{ url_for('static', filename='img/icon/password.svg') }}" alt="" class="auth-icon">
                    <input type="password" name="contrasena" placeholder="Contraseña" required>
                </div>

                <div class="remember-me">
                    <div class="remember-left">
                        <input type="checkbox" id="remember_me" name="remember_me">
                        <label for="remember_me">Recordarme</label>
                    </div>
                    <div class="remember-right">
                        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>

                <p class="auth-text">
                    No tienes una cuenta? <a href="{{ url_for('auth.register') }}">Regístrate</a>
                </p>

                <button type="submit" class="btn">Entrar</button>

                <span class="auth-divider">o</span>

                <div class="auth-social">
                    <button type="button" class="social-btn google">
                        <img src="{{ url_for('static', filename='img/social/google.svg') }}" alt="Google logo">
                        Iniciar sesión con Google
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}